
{% extends 'base.html' %}

 {% block title %}   <title>KrishiKhoj</title>{% endblock title %}

{% block active %}
      

  <div class="container-fluid">
            <a class="navbar-brand fs-2 logo" href="/">
                <h1><strong>KrishiKhoj</strong></h1>
            </a>
            <button class="navbar-toggler cl-yel" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon cl-yel"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item fs-3 px-4 m-3 ">
                        <a class="nav-link active shadow rounded  px-4" aria-current="page" href="/">
                            <strong>Home</strong>
                            </a>
                    </li>
                    <li class="nav-item fs-3  m-3">
                        <a class="nav-link  px-4" href="Survey"><strong>Survey
                                list</strong></a>
                    </li>
                </ul>
            </div>

{% endblock active %}


{% block conntent %}
      <script>
        $(document).ready(function() {
          $('.form-check-input').click(function () {
            var txt="";
          $('.form-check-input:checked').each(function () {
             txt+=$(this).val()+","
            
          });
             $('#atta').val(txt);
              
            
          });
          
        });
      </script>
<div class="p-4 m-4">
    <div class="submt p-4 m-4 shadow-lg p-3 mb-5 rounded ">
        <form class="row g-3" method="POST">
          {% csrf_token %}
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Name</label>
              <input type="text" name="name" class="form-control" id="inputName">
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">Email</label>
              <input type="email" name="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Phone No.</label>
                <input name="phone" type="number" class="form-control" id="inputphone">
              </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Address</label>
              <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
              <label for="inputAddress2" class="form-label">Address 2</label>
              <input type="text" name="address2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">City\Village</label>
              <input type="text" name="City_Village" class="form-control" id="inputCity">
            </div>
          
            <div class="col-md-4">
              <label for="inputCity" class="form-label">State</label>
              <input type="text" name="dic" class="form-control" id="inputCity">
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label">Zip</label>
              <input type="number" name="zip" class="form-control" id="inputZip">
            </div>

              <label for="inputZip" class="form-label">Choose your Machine</label>
            <div class="col-md-3">
                <div class="form-check">
                  <input class="form-check-input" value="Cultivator tractor" type="checkbox" name="Cultivatortractort" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                   <img src="static/img/5-23.jpg" width="150" height="100">
                     <br>
                   Cultivator tractor
                  </label>
                </div>
              </div>         
            <div class="col-md-3">
                <div class="form-check">
                  <input class="form-check-input" value="Rotavator tractor" type="checkbox" name="Rotavatortractor" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                   <img src="static/img/29b45f64e623e95f5c1f6fbb80f5d631.jpg" width="150" height="100">
                   <br>
                   Rotavator tractor
                  </label>
                </div>
              </div>           
              <div class="col-md-3">
                <div class="form-check">
                  <input class="form-check-input" value="Plough tractor" type="checkbox" name="Ploughtractor" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                   <img src="static/img/a-man-ploughing-using-a-tractor-in-a-ploughing-match-at-cottenham-E8E4X5.jpg" width="150" height="100">
                  <br>
                   Plough tractor
                  </label>
                </div>
              </div>           
              <div class="col-md-3">
                <div class="form-check">
                  <input class="form-check-input" value="Paddy Thrasher tractor" type="checkbox" name="PaddyThrashertractor" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                  <img src="static/img/product-jpeg-500x500.jpg" width="150" height="100">
                 <br>
                  Paddy Thrasher tractor
                  </label>
                </div>
              </div>           
              <div class="col-md-3">
                <div class="form-check">
                  <input class="form-check-input" value="Dumping Trailer tractor" type="checkbox" name="umpingTrailertractor" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                  <img src="static/img/maxresdefault.jpg" width="150" height="100">
                 <br>
                  Dumping Trailer tractor
                  </label>
                </div>
              </div>           
              <div class="col-md-3">
                <div class="form-check">
                  <input class="form-check-input" value="4 wheel Trailer tractor" type="checkbox" name="4wheelTrailertractort" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    <img src="static/img/product-500x500.jpeg" width="150" height="100">
                   <br>
                    4 wheel Trailer tractor
                  </label>
                </div>
              </div>

            <input type="text" style="display: none;" name="atta" id='atta'>
            
            <div class="col-md-12" style="padding-left: 40%; padding-right: 40%;">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
    </div>
</div>

{% endblock conntent %}